<div class='centered-text ctitle' style='padding-bottom:10px;'>Trade Shift</div>
<div class='ui trade shift form'>
    <div class="ui error message"></div>
    <% var submit = "Trade";
    var toggleOff = "Trade Part of Shift";
    var toggleOn = "Trade Entire Shift" %>
    <%= include ../util/formModules/toggle.ejs %>

    <div class='entireShift hidden'>
        <%= include ../util/formModules/setTime.ejs %>
    </div>
    <%= include ../util/formModules/cancelSubmit.ejs %>
</div>