<div class='centered-text ctitle' style='padding-bottom:10px;'>Trade Shift</div>
<div class="centered-text ownerIndicator"></div>
<div class='ui trade shift form'>
    <div class="ui error message"></div>
    

    <div class='inline forceCenter wrap fields'>
        <p class='field'>Trade Part of Shift</p>
        <div class='field'>
            <div class='ui toggle disabled checkbox'>
                <input class='field' type='checkbox' checked='checked'>
                <label></label>
            </div>
            
        </div>
        <p class='field' style='padding-left:27px;'>Trade Entire Shift</p>
    </div>

    <div class='entireShift hidden'>
        <%= include ../util/formModules/setTime.ejs %>
    </div>
    <%= include ../util/formModules/setTime.ejs %>
</div>