<nav class='ui centered inverted black menu navbar'>
    <a class='left item' href='/'>
        <div class='fleft'>
            <img src='images/icon.svg' class='svg' id='mainIcon'>
        </div>
        <div class='fright ntitle'>ShiftShark</div>
    </a>
    <div class='right item'>
        <a class='left item' id='logout'>LOGOUT</a>
        <a class='right hidden fancybox item' href='#profileSettings' id='profile'>MY PROFILE</a>
    </div>
</nav>