<nav class='ui centered inverted black small menu navbar'>
    <a class='left item' href='/'>
        <div class='fleft'>
            <img src='images/icon.svg' class='svg' id='mainIcon'>
        </div>
        <div class='fright ntitle'>ShiftShark</div>
    </a>
    <div class='right item'>
        <% if(req.user.employer) { %>
        <div class="item" style="height:43px!important;margin-top:-23px;">
            <p class='wrap'>Admin</p>
            <div class='wrap'>
                <div class='ui toggle checkbox' employeeView="<%= employeeView %>">
                    <input class='wrap' type='checkbox'>
                    <label></label>
                </div>
                
            </div>
            <p class='wrap' style='margin-left:-12px;'>Employee</p>
        </div>
        <% } %>
        <a class='item' id='logout'>LOGOUT</a>
    </div>
</nav>