<table style="margin: auto">
  <tr>
    <td style="background: #666666; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Empty</td>
  </tr>
    <td style="background: #ffffff; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Someone Else's Shift</td>
  <tr>
    <td style="background: green; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Your Shift</td>
  </tr>
  <tr>
    <td style="background: yellow; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Up For Trade</td>
  </tr>
</table>