<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/schedule.css' />
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='/js/schedule.js'></script>
  </head>
  <body>
    <div class="scheduleWrapper">
    	<div class="timesRow">
    	</div>
    	<div class="contentRow">
    		<div class="day">Monday</div>
    		<div class="roleWrapper">
    			<div class="role"></div>
    			<div class="role"></div>
    		</div>
    	</div>
    </div>
  </body>
</html>
