<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/schedule.css' />
        <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script src='/js/scheduleUI.js'></script>
    </head>
    <body>
	  	<div class="scheduleWrapper">
			<div class="timesRow">
	    		Times of shifts go here
		    </div>
			<div class="contentRow">
		    	<div class="day"><%= dateToCheck %></div>
	 		    <div class="roleWrapper">
		            <% for(shift in schedule) {%>
			  	        <% if(schedule[shift].date === dateToCheck){ %>
			        		<div class="role <%= schedule[shift]._id %>">
				     		    <div class="cell"><%= schedule[shift].position %></div>
				     		    
				    			<div class="cell">8am</div>
				    			<div class="cell">8:30am</div>
				    			<div class="cell">9am</div>
				   				<div class="cell">9:30am</div>
				   		    </div>
						<% } %>
	    			<% } %>
		    	</div>
		   	</div>
	    </div>
    </body>
</html>
