<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/schedule.css' />
  </head>
  <body>
    <div class="scheduleWrapper">
    	<div class="timesRow">
    	</div>
    	<div class="contentRow">
    		<div class="role"></div>
    	</div>
    </div>
  </body>
</html>
