<div class='ui hidden modify assignOffered form'>
    <div class="ui error message"></div>

    <% var selectEmployee = "Assign to";
    var submit = "Assign"; %>

    <%= include ../../../util/formModules/selectEmployee.ejs %>

    <div style="height:10em"></div>

    <%= include ../../../util/formModules/cancelSubmit.ejs %>
</div>