<div class='ui add employee form'>
    <label>Name:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='username' placeholder='Name'>
        <i class='user icon'></i>
    </div>
    <label>Email Address:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='email' placeholder='email@domain.com'>
        <i class='mail icon'></i>
    </div>
    <div class='fright submitButtons'>
        <div class='ui red button'>Cancel</div>
        <div class='ui black submit button'>Add</div>
    </div>
</div>