<div class='ui modify edit form'>
    <div class="ui error message"></div>
    
    <%= include ../../../util/formModules/setTime.ejs %>

    <div class='ui formButtons menu'>
        <div class='right item'>
            <div class='ui red cancel button'>Cancel</div>
            <div class='ui black submit button'>Edit</div>
        </div>
    </div>
</div>