<div class='ui form modifyPos edit'>
  <div class="ui error message"></div>
  <label>Name:</label>
  <div class='ui left labeled input field'>
    <input type='text' class="posName" name='text' placeholder='Name'>
  </div>

  <% var submit = "Save"; %>

  <%= include ../../../util/formModules/cancelSubmit.ejs %>
</div>