<div class='ui form modifyPos edit'>
    <label>Name:</label>
    <div class='ui left labeled input field'>
        <input type='text' class="posName" name='pos-name' placeholder='Name'>
    </div>

    <% var submit = "Delete"; %>

    <%= include ../../../util/formModules/cancelSubmit.ejs %>
</div>