<div class='ui hidden modify delete form'>
    <div class="ui error message"></div>
    <% var submit = "Delete";
    var toggleOff = "Once";
    var toggleOn = "Range" %>

    <%= include ../../../util/formModules/toggle.ejs %>

    <div class='recurring hidden'>
        <%= include ../../../util/formModules/setDate.ejs %>        
    </div>
    <%= include ../../../util/formModules/cancelSubmit.ejs %>
</div>