<div class='centered-text ctitle' style='padding-bottom:10px;'>Admin Settings</div>
<div class='shiftInfo centered-text'></div>

<form class='ui adminSettings form' onsubmit="return false;">
    <div class="ui error message"></div>
    <% var selectEmployee = "Select Employee";
    var submit = "Edit";
    var toggleOff = "Employee";
    var toggleOn = "Admin" %>

    <%= include ../../util/formModules/selectEmployee %>

    <%= include ../../util/formModules/toggle.ejs %>

    <%= include ../../util/formModules/cancelSubmit.ejs %>
</form>