<div class='centered-text ctitle'>Modify Shift</div>
<div class='forceCenter ui form modify action' style='margin-top:5px;'>
    <div class='inline fields wrap'>
        <div class='field'>Action:</div>
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='edit' checked='checked'>
                <label>Edit</label>
            </div>
        </div>
        <!-- <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='trade'>
                <label>Trade</label>
            </div>
        </div> -->
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='delete'>
                <label>Delete</label>
            </div>
        </div>
    </div>
</div>

<%= include formInstances/modifyEdit.ejs %>

<%= include formInstances/modifyTrade.ejs %>

<%= include formInstances/modifyDelete.ejs %>