<div class='centered-text ctitle'>Modify Shift</div>
<div class="centered-text ownerIndicator"></div>
<div class='forceCenter ui form modify action' style='margin-top:5px;'>
    <div class='inline fields wrap'>
        <div class='field'>Action:</div>
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='edit' checked='checked'>
                <label>Extend</label>
            </div>
        </div>
        <div class='hidden trade field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='trade'>
                <label>Trade</label>
            </div>
        </div>
        <div class='tradeOwn field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='tradeOwn'>
                <label>Trade Your Own Shift</label>
            </div>
        </div>
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='modify-action' value='delete'>
                <label>Delete</label>
            </div>
        </div>
    </div>
</div>

<%= include formInstances/modifyEdit.ejs %>

<%= include formInstances/modifyTrade.ejs %>

<%= include formInstances/modifyTradeOwn.ejs %>

<%= include formInstances/modifyDelete.ejs %>