body {
    padding: 0;
    margin: 0;
}

.centered-text {
    text-align: center;
}

.right-justified {
    text-align: right !important;
}

.navbar {
    top: 0;
    left: 0;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.adminOptions {
    margin: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.ntitle {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 3em !important;
    padding-left: 5px;
    margin-top: 3px;
}

#mainIcon {
    height: 2.9em;
    width: 2.9em;
}

#mainIcon path {
    fill:white;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.modalContent {
    display: none;
}

.wrap {
    display: inline-block;
}

.forceCenter {
    display: inline-block;
      position: relative !important;
      left: 50%;
      -webkit-transform: translateX(-50%);
}

@-moz-document url-prefix() { 
    .abscentered {
        transform: translateX(-50%);
    }
}

.field label {
    padding-left: 20px !important;
}

.hidden {
    display: none !important;
}

label.colon {
    padding-left: 4px !important;
    margin-right: 7px !important;
}

.createInputs {
    margin-bottom: 0px !important;
}

.modifyInputs {
    margin-bottom: 0px !important;
    height: 50px !important;
    margin-top: 5px !important;
}

.createFields {
    height: 55px !important;
}

.submitButtons {
    padding-top: 50px;
}

.time.fields {
    margin-left: 10px !important;
}