body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 800px;
}

.centered-text {
    text-align: center;
}

.right-justified {
    text-align: right !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 78px;
    z-index: 10;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

main {
    position: relative;
    top: 78px;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    overflow-x: none;
    overflow-y: auto;
}

.adminOptions, .formButtons {
    margin: 0 !important;
    padding: 10px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
}

.button-bar {

}

#button-bar::before {
    content: none !important;
}

.ntitle {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 3em !important;
    padding-left: 5px;
    margin-top: 3px;
}

#mainIcon {
    height: 2.9em;
    width: 2.9em;
}

#mainIcon path {
    fill:white;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.modalContent {
    display: none;
}

.wrap {
    display: inline-block;
}

.forceCenter {
    display: inline-block;
    position: relative !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

@-moz-document url-prefix() {
    .forceCenter {
        transform: translateX(-50%);
    }
}

.field label {
    padding-left: 20px !important;
}

.hidden {
    display: none !important;
}

label.colon {
    padding-left: 4px !important;
    margin-right: 7px !important;
}

.createInputs {
    margin-bottom: 0px !important;
}

.modifyInputs {
    margin-bottom: 0px !important;
    height: 50px !important;
    margin-top: 5px !important;
}

.createFields {
    height: 55px !important;
}

.formButtons {
    padding-top: 50px;
}

.time.fields {
    margin-left: 10px !important;
}

.vcentered {
    -webkit-transform: translateY(50%);
}

@-moz-document url-prefix() {
    .vcentered {
        transform: translateY(50%);
    }
}

.roleInput input, .roleInput input:focus {
    background-color: #4C4C4C !important;
    color: white !important;
}

.roleInput input::selection {
    color: black;
    background: rgba(255,255,255,.7); /* WebKit/Blink Browsers */
}

.roleInput input::-moz-selection {
    color: black;
    background: rgba(255,255,255,.7); /* Gecko Browsers */
}

.roleInput i {
    opacity: .5 !important;
    color:white !important;
}

.roleInput i:hover {
    opacity: 1 !important;
    cursor: pointer !important;
    cursor: hand !important;
}

.dateNavigation, .weekNavigation {
    cursor: pointer !important;
    cursor: hand !important;
    vertical-align: middle !important;
    display: inline-block;
}

#currentDate {
    text-align: center;
    font-size: 14px !important;
    vertical-align: middle !important;
    display: inline-block;
    width: auto;
}

.fancybox-inner {
    overflow-x: hidden !important;
}

.ownerIndicator, .shiftInfo, .createInfo, .deleteInfo {
    padding-bottom: 10px;
}

.dateNavWrapper i, .dateNavWrapper div {
    font-size: 1.5em !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background : #333 !important;
    box-shadow : #333 0 1px 3px 0 inset !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
    background : #5C6166 !important;
}

.block-shift.trading:hover, .owned:hover, .block-avail:hover {
    background-color : #5C6166 !important;
    color: white !important;
}

.block-shift.trading, .owned, .block-avail {
    cursor: pointer;
    cursor: hand;
}