html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

/*div{
  border: 1px solid white;
}*/

.scheduleWrapper{
  overflow: scroll;
  width: 100%;
}

.timesRow{
  width:100%;
  min-height: 20px;
}

.contentRow{
  width: 100%;
  min-height:30px;
  display: table;
}

.contentRow > * {
  vertical-align: top;
}

.day{
  margin-top: 0;
  width: 100px;
  padding: 0;
  background-color: #FFCCCC;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.roleWrapper{
  display: table-cell;
}

.role{
  min-width: 20px;
  min-height: 20px;
  background-color: gray;
}

.cell{
  position: relative;
  height: 30px;
  max-height: 30px;
  width: 100px;
  display: table-cell;
  cursor: pointer !important;
  cursor: hand !important;
  border: solid 1px;
}

.trading{
  background-color: yellow;
}

.currentOwner {
  background-color: green;
}

.otherOwner {
  background-color: white;
}

.posName {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.roleWrapper table { 
  border-collapse:separate;
  border-spacing: 0px;
  width: 100%;
}

.roleWrapper td{
  background-color: white;
  border: solid 1px;
}

.posHead{
  background-color: white;
  min-width: 100px;
  width:100px;
  max-width: 100px;
  overflow: hidden;
  padding: 0;
  border-left: solid 1px;
}