body {
    padding: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    background-image:url("/images/bg2b.png");
    min-width: 650px;
}

.centered {
    margin: 0px auto !important;
}

.ctitle {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 70px !important;
}

.subtitle {
    font-size: 36px !important;
}

.text-centered {
    text-align: center;
}

.abscentered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

@-moz-document url-prefix() { 
  .abscentered {
     transform: translate(-50%, -50%);
  }
}

::selection {
    color: white;
    background: rgba(0,0,0,.7); /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: white;
    background: rgba(0,0,0,.7); /* Gecko Browsers */
}