/* Timetable */

.timetable {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  font-size: 12px;
}

table.timetable {
  overflow: scroll;
}

.timetable tr {
  height: auto;
}

.header-row {
  height: auto !important;
}

.timetable td {
  border: 2px solid black;
  padding: 1px;
  vertical-align: middle;
  min-width: 10px;
  word-wrap: break-word;
}

td.block-empty {
  min-width: 12px;
}

td.block-shift {
  min-width: 86px;
  padding: 1px 4px; /* for text */
}

.label-time {
  font-weight: bold;
  text-align: center;
  min-width: 56px !important;
  max-width: 96px !important;
}

td.label-position {
  min-width: 76px;
  max-width: 106px;
  height: auto !important;

  text-align: center;
  font-weight: bold;
}

/* Availability Table */

td.label-day {
  min-width: 36px !important;
  max-width: 46px !important;
  height: auto !important;

  text-align: center;
  font-weight: bold;
}

/* Calendar */
.calendar {
  border-collapse: collapse;
  border: 4px solid black;
}

.calendar > tbody > tr > td { /* main table cell */
  padding: 5px;
}

.calendar > tbody > tr { /* main table row */
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

td.label-date {
  word-wrap: break-word;
  min-width: 80px;
  max-width: 100px;
  font-size: 12px;

  padding: 3px;
  text-align: center;
  font-weight: bold;

  border-right: none !important;
}

td.container-timetable {
  border-left: none !important;
}

.hidden-cell {
  display: none;
}

/* Coloring */

td.block-shift {
  /* color-coding shifts will not require */
  background-color: #ccc;
}

.block-shift.trading {
  background-color: #FFDD00; /* referenced in JS; DO NOT CHANGE */
  color: #000;
  font-style: italic;
}

/* Border Styling */
td.time-block[quarter='0'] {
  border-right-width: 1px;
  border-right-style: dotted;
}

td.time-block[quarter='1'], td.time-block[quarter='2'] {
  border-right-width: 1px;
  border-left-width: 1px;
  border-right-style: dotted;
  border-left-style: dotted;
}

td.time-block[quarter='3'] {
  border-left-width: 1px;
  border-left-style: dotted;
}

td.time-block[quarter='0'], td.label-time {
  border-left-width: 1px;
}

td.time-block[quarter='3'], td.label-time {
  border-right-width: 1px;
}

.top-square {
  border-left: none !important;
  border-top: none !important;
}

table.timetable {
  border-right: 2px solid black;
}

td.time-block.block-shift {
  border-left: 1px solid black;
  border-right: 1px solid black;
}