<div class='centered-text ctitle'>Modify Availability</div>
<div class='deleteInfo centered-text'></div>

<div class='ui delete form'>
    <div class="ui error message"></div>
    <% var submit = "Delete"; %>

    <%= include ../../util/formModules/cancelSubmit.ejs %>
</div>