<label>Name</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='username' placeholder='Name'>
    <i class='user icon'></i>
</div>
<label>Schedule Name</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='schedule-name' placeholder='Schedule Name'>
    <i class='calendar icon'></i>
</div>
<label>Email</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='email' placeholder='Email'>
    <i class='mail icon'></i>
</div>
<label>Password</label>
<div class='ui left labeled icon input field'>
    <input type='password' name='password' placeholder='Password'>
    <i class='lock icon'></i>
</div>
<label>Confirm Password</label>
<div class='ui left labeled icon input field'>
    <input type='password' name='confirm-password' placeholder='Password'>
    <i class='lock icon'></i>
</div>
<a class='ui submit button'>Signup</a>