<div class='ui formButtons menu'>
    <div class='right item'>
        <div class='ui red icon cancel button'>
          <i class="ui remove icon"></i>
          Cancel
        </div>
        <div class='ui black icon submit button'>
          <i class="ui check icon"></i>
          <%= submit %>
        </div>
    </div>
</div>