<div class='fields createFields'>
    <label class='five wide field right-justified vcentered'><%= selectEmployee %>:</label>
    <div class='eleven wide field createInputs'>
        <div class='ui selection dropdown'>
            <input type='hidden' name='select-employee'>
            <div class='default text'>Select Employee</div>
            <i class='dropdown icon'></i>
            <div class='menu employeeList' style='overflow:auto;max-height:100px;'>
                <%= include ../employeesDropdown.ejs %>
            </div>
        </div>
    </div>
</div>