<div class='fields createFields startDate'>
    <label class='five wide field right-justified vcentered'>Start Date:</label>
    <div class='five wide field createInputs'>
        <div class='ui input'>
            <input class='datePicker' type='text' name='start-date'>
        </div>
    </div>
</div>


<div class='fields createFields endDate'>
    <label class='five wide field right-justified vcentered'>End Date:</label>
    <div class='five wide field createInputs'>
        <div class='ui input'>
            <input class='datePicker' type='text' name='end-date'>
        </div>
    </div>
</div>