<div class='inline forceCenter wrap fields'>
    <p class='field'><%= toggleOff %></p>
    <div class='field'>
        <div class='ui toggle checkbox'>
            <input class='field' type='checkbox'>
            <label></label>
        </div>
        
    </div>
    <p class='field' style='padding-left:27px;'><%= toggleOn %></p>
</div>